@import "tailwindcss";

@theme {
  --color-primary: #1558d6;
  --color-secondary: #1f8ef1;
  --color-dark: #0f172a;
  --color-light: #f8fafc;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}